$main-color: #f2f2f2;
$white-color: #FFFFFF;
$divider-color: #EAEAEA;
$main-bgc: #F8F8F8;
$navigation-color: #41F6D7;
$main-font-color: #1B1C21;
$add-font-color: #7E7E82;
$add-navigation-color: #B8FFEC;
$aside-container: #f1f1f1;
$black-color: #000000;
$border-title-top: #D9FFF5;
$pagination-bullet-color: #B5B6BC;