.lenovo {
  background-image: url('../img/1.5/lenovo.svg');
}

.samsung {
  background-image: url('../img/1.5/samsung.svg');
}

.apple {
  background-image: url('../img/1.5/apple.svg');
}

.sonic {
  background-image: url('../img/1.5/sonic.svg');
}

.bosch {
   background-image: url('../img/1.5/bosch.svg');
}

.hp {
  background-image: url('../img/1.5/hp.svg');
}

.acer {
  background-image: url('../img/1.5/acer.svg');
}

.sony {
  background-image: url('../img/1.5/sony.svg');
}

.laptop {
  background-image: url('../img/swiper2.1.6/cat1.svg');
}

.tablet {
  background-image: url('../img/swiper2.1.6/cat2.svg');
}

.pc {
  background-image: url('../img/swiper2.1.6/cat3.svg');
}

.screen {
  background-image: url('../img/swiper2.1.6/cat4.svg');
}