.description-main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
    gap: 48px;
  }
  @media all and (min-width: 1120px) {
    flex-direction: row;
    gap: 36px;
    margin-top: 35px;
  }
  &__about {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 24px;
    @media all and (min-width: 768px) {
      margin-left: 24px;
      margin-bottom: 10px;
      margin-right: 0px;
      margin-top: 32px;
    }
    @media all and (min-width: 1120px) {
      margin-left: 34px;
      margin-bottom: 13.78px;
      margin-right: 0px;
      margin-top: 19.22px;
    }
    &-company {
      @media all and (min-width: 768px) {
        width: 43.3%;
        min-height: 390px;
      }
      @media all and (min-width: 1120px) {
        width: 47%;
      }
    }
    &-us {
      font-family: "TT Lakes";
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      line-height: 18px;
      color: $main-font-color;
      letter-spacing: 0.2px;
      margin-top: 0;
      margin-bottom: 0;
      @media all and (min-width: 768px) {
        margin-bottom: 16px;
      }
    }
    &-continuation {
      display: inline;
      letter-spacing: 0.2px;
      font-family: "TT Lakes";
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: $main-font-color;
      @media all and (max-width: 768px) {
        display: none;
      }
    }
    &-end {
      display: inline;
      font-family: "TT Lakes";
      font-size: 14px;
      letter-spacing: 0.2px;
      font-weight: normal;
      font-style: normal;
      color: $main-font-color;
      @media all and (max-width: 1119px) {
        display: none;
      }
    }
  }
}

.about-show {
  display: inline;
}

.read-more {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    margin-left: 33px;
  }
  @media (min-width: 1120px) {
    margin-left: 40px;
  }
  &__button,
  .read-close {
    padding-left: 16px;
    padding-right: 0;
    width: 100px;
    height: 24px;
    white-space: nowrap;
    box-sizing: content-box;
    border: 0px;
    background: $main-bgc;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: "TT Lakes";
    font-weight: 600;
    font-style: normal;
    &::before {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      width: 8px;
      height: 10px;
      background-image: url("../img/1.5/icon.svg");
      margin-right: 11px;
    }
  }
}

.company-image {
  display: flex;
  @media (min-width: 768px) {
    width: 45%;
  }
  @media (min-width: 1120px) {
    width: 46%;
  }
  &__logo-img {
    margin: auto 0;
    width: 100%;
    border-radius: 10px;
    vertical-align: bottom;
  }
}

.feedback-div,
.callback-div,
.aside-div {
  z-index: 100;
  width: 100%;
  height: 100%;
}
